.footer-basic {
  padding: 20px 0;
  color: #ffffff;
  margin-top: 50px;
  background-color: #343a40;
  position: relative;
}

.footer-basic .copyright {
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
